<div class="row justify-content-md-center">
  <div class="col-6">
    <div class="card mb-3">
      <%= image_tag(@image.picture.url, class: 'card-img-top') if @image.picture %>
      <div class="card-body">
        <h5 class="card-title"><%= @image.name %></h5>
        <p class="card-text"><small class="text-muted">Uploaded ago</small></p>
      </div>
    </div>
  </div>

</div>
<div class="row justify-content-md-center">
  <div class="col-6">
    <%= link_to 'Edit', edit_image_path(@image) %> |
    <%= link_to 'Back', images_path %>
  </div>
</div>
